@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33% 94%;
    --foreground: 0 0% 0%;

    --card: 60 33% 94%;
    --card-foreground: 0 0% 0%;

    --popover: 60 33% 94%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 60 33% 94%;
    --secondary-foreground: 0 0% 0%;

    --muted: 60 33% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
